@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root{
    --black-5:#0000000D;
    --black-10: #0000001A;
    --black-20: #00000033;
    --black-40: #00000066;
    --black-80: #000000CC;
    --black-100: #1C1C1C;

    --white-100: #FFFFFF;
    --white-10: #FFFFFF1A;
    --white-20: #FFFFFF33;
    --white-40: #FFFFFF66;

    --primary-blue: #E3F5FF;
    --primary-purple: #E5ECF6;
    --primary-light: #F7F9FB;
    --primary-brand: #1C1C1C;

    --secondary-blue: #A8C5DA;
    --secondary-purple : #C6C7F8;
}

*{
    box-sizing: border-box;
}

/* Dark theme styling starts here */
.dark-theme{
    background-color: var(--black-100);
    color: #FFFFFF;
}

body.dark-theme h5,
body.dark-theme #user-name,
body.dark-theme p,
body.dark-theme h6,
body.dark-theme li a,
body.dark-theme #active-breadcrumb,
body.dark-theme .line-graph_text p,
body.dark-theme #week-text,
body.dark-theme h4,
body.dark-theme .info-container button{
    color: var(--white-100);
}

body.dark-theme #highlight,
body.dark-theme ul.breadcrumb li a,
body.dark-theme .left-side-bar h5,
body.dark-theme p.time,
body.dark-theme .favorites p,
body.dark-theme input::placeholder{
    color: var(--white-40);
}

body.dark-theme p.recently{
    color: var(--white-20);
}

body.dark-theme .stats h6,
body.dark-theme .stats h5,
body.dark-theme .stats span{
    color: var(--black-100);
}

body.dark-theme .line-graph,
body.dark-theme .web-traffic-chart,
body.dark-theme .device-traffic-stats,
body.dark-theme .location-traffic-stats,
body.dark-theme .marketing{
    background-color: var(--white-5, rgba(255, 255, 255, 0.05));
}

body.dark-theme .active{
    background-color: var(--white-10);
}

body.dark-theme .active div{
    border-left:4px solid var(--secondary-purple);
}

body.dark-theme .left-side-bar{
    border-right:1px solid var(--white-10) ;
}

body.dark-theme .right-side-bar{
    border-left:1px solid var(--white-10) ;
}

body.dark-theme header{
    border-bottom: 1px solid var(--white-10);
}

img {
    transition: filter 0.5s;
  }

  body.dark-theme header img,
  body.dark-theme .left-side-bar img:not(.dp),
  body.dark-theme #invert-img,
  body.dark-theme .vector-line1{
    filter: invert(1); /* Invert the colors for dark theme */
  }

  body.dark-theme .search{
    background-color: var(--white-10);
  }
  
/* Dark theme styling ends here */


body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: var(--white-100);
    transition: background-color 0.5s, color 0.5s;
}

div.dashboard{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr 1.5fr;
}

/* Left sidebar starts here */
.left-side-bar{
    align-items: center;
    padding: 15px 17px;
    border-right: 1px solid #0000000D ;
}

div.user_details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.user-avatar{
    display: flex;
    align-items: center;
    gap: 10px;
}

div.user-avatar h5{
    color: var(--black-100);
}

div.favorites{
    display: flex;
    gap: 16px;
}

.left-side-bar p{
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3rem;
    color: var(--black-40);
}

.left-side-bar p.recently{
    color: var(--black-20);
}

.left-side-bar h5{
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    color: var(--black-40)
}

#user-name{
    color: var(--black-100);
}

.list-items{
    display: flex;
    align-items: center;
    gap: 5px;
}

.left-side-bar ul{
    list-style: none;
    margin: auto;
    padding-left: 0;
}

#user-profile_dropdown li:not(.active){
    padding-left: 2.5rem;
}

.active{
    display: flex;
    width: 150px;
    height: 28px;
    padding: 4px 4px 4px 0px;
    align-items: center;
    gap: 20px;
    border-radius: 8px;
    background: var(--black-5, rgba(0, 0, 0, 0.05));
}

.active div{
    border-left: 4px solid var(--black-100);
    border-radius: 3px;
    height: 20px;
}

.left-side-bar li a{
    text-decoration: none;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    color: var(--black-100);
}


.logo-container{
    margin-top: 230px;
    display: flex;
    justify-content: center;
    padding: 10px;
}
/* Left sidebar ends here */

/* middle section starts here */
/* Header starts here */
header{
    width: 100%;
    display: flex;
    height: 82px;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--black-10);
}

.navigation{
    display: flex;
    align-items: center;
    gap: 5px;
}

header button{
    width: 28px;
    height: 28px;
    padding: 15px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
header ul{
    margin: 0;
    list-style: none;
    display: inline;
}

ul.breadcrumb li {
    margin-top: 19px;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
}

ul.breadcrumb li a{
    color: var(--black-40);
    text-decoration: none;
    font-size: 14px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: var(--black-40);
    content: "/\00a0";
}

#active-breadcrumb{
    color: var(--black-100);
}

.search{
    display: flex;
    margin-top: 17px;
    width: 160px;
    height: 28px;
    align-items: center;
    padding: 4px 8px;
    gap: 4px;
    border-radius: 8px;
    background-color: var(--black-5);
}

input[type='search']{
    width: 100%;
    height: 25px;
    display: inline-block;
    border: none;
    background-color: transparent;
}

input::placeholder{
    color: var(--black-20);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
/* Header ends here */

/* Main starts here */
div.info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px 10px;
    justify-content: center;
}

.info-container button{
    display: inline-flex;
    height: 28px;
    padding: 4px 4px 4px 8px;
    align-self: flex-start;
    align-items: center;
    background-color: transparent;
    border: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    color: var(--black-100);
}

.stats-container{
    display: flex;
    margin-top: 20px;
    width: 98%;
    gap: 28px;
    justify-content: space-between;
}

.stats{
    width: 23%;
    height: 112px;
    padding: 20px 25px;
    border-radius: 16px;
    background-color: var(--primary-blue);
}
#stats-purple{
    background-color: var(--primary-purple);
}
.stats h6{
    color: var(--black-100);
    margin: 3px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    height: 20px;
}
.stats h5{
    color: var(--black-100);
    margin: 2px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
}
.stats-numbers{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.stats-numbers span{
    color: var(--black-100, #1C1C1C);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    display: flex;
    align-items: center;
}

div.line-graph-cont{
    display: flex;
    margin-top: 33px;
    width: 98%;
    gap: 28px;
    justify-content: space-between;
    position: relative;
}
.line-graph{
    width: 74%;
    height: 350px;
    background-color: var(--primary-light);
    padding: 25px 16px 22px 26px;
    border-radius: 16px;
}

.line-graph_text{
    display: flex;
    align-items: center;
    gap: 16px;
}

.line-graph_text p{
    display: inline;
    color: var(--black-100);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px
}

#highlight{
    color: var(--black-40);
    font-weight: 400;
}

.week-text-cont{
    display: flex;
    gap: 1px;
    align-items: center;
}

#week-icon1{
    fill: #1C1C1C;
}

#week-text{
    color: var(--black-100);
    font-weight: 400;
}

.line-graph_text hr{
    width: 1px;
    height: 20px;
    margin: 0;
}

.week-text-cont svg{
    color: var(--secondary-blue);
}

.chart{
    width: 100%;
}

.vector-line1{
    position: absolute;
    top: 112px;
    left: 90px;
}

.vector-line2{
    position: absolute;
    top: 120px;
    left: 80px;
}

.chart-dot{
    position: absolute;
    top: 150px;
    left: 415px;
}

.char-note{
    display: inline-flex;
    height: 28px;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--black-80);

    position: absolute;
    top: 119px;
    left: 375px;
}

.char-note p{
    color: var(--white-100);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; 
}

.web-traffic-chart{
    width: 23%;
    height: 350px;
    background-color: var(--primary-light);
    padding: 26px 20px;
    border-radius: 16px;
}

.web-traffic-chart h5{
    color: var(--black-100, #1C1C1C);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    margin: 0.3rem;
}

.web-traffic-chart_content{
    display: flex;
    align-items: center;
    gap: 5px;
}

.web-traffic-chart_text{
    display: flex;
    flex-direction: column;
}

.web-traffic-chart_text p{
    margin: 0.6rem;
    color: var(--black-100, #1C1C1C);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    margin-left: 0;
}

.line-chart{
    display: flex;
}
 
.traffic-stats-container{
    width: 98%;
    display: flex;
    margin-top: 33px;
    gap: 28px;
}

.device-traffic-stats{
    width: 48.5%;
    background-color: var(--primary-light);
    border-radius: 16px;
    padding: 15px 20px 20px 20px;
    position: relative;
}

.device-traffic-stats h5,
.location-traffic-stats h5,
.marketing h5{
    color: var(--black-100);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    margin: 0.5rem 0.5rem 1rem 0.1rem;
}

img.chart2{
    width: 99%;
}

.histogram{
    position: absolute;
    top: 160px;
    left: 60px;
}

.histogram1{
    position: absolute;
    top: 147px;
    left: 117px;
}

.histogram2{
    position: absolute;
    top: 158px;
    left: 170px;
}

.histogram3{
    position: absolute;
    top: 107px;
    left: 225px;
}

.histogram4{
    position: absolute;
    top: 192px;
    left: 280px;
}

.histogram5{
    position: absolute;
    top: 139px;
    left: 330px;
}


.location-traffic-stats{
    width: 48.5%;
    background-color: var(--primary-light);
    border-radius: 16px;
    padding: 15px 20px 20px 20px;
}

.location-traffic-content{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.location-states p{
    color: var(--black-100, #1C1C1C);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.location-numbers p{
    color: var(--black-100, #1C1C1C);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;  
}

.location-states-text{
    display: flex;
    align-items: center;
}
.location-states-text svg{

    fill: var(--black-100);
}

.marketing{
    width: 98%;
    height: 90px;
    margin-top: 33px;
    padding: 15px 20px 20px 20px;
    border-radius: 16px 16px 0 0;
    overflow: hidden;
    background-color: var(--primary-light);
}
/* Main ends here */
/* Middle section ends here */


/* Right sidebar starts here */
.right-side-bar{
     align-items: center;
     padding: 23px 24px;
     border-left: 1px solid #0000000D ;
     justify-content: center;
}

.notifications,
.activities{
    margin-bottom: 2rem;
}

.right-side-bar h4{
    color: var(--black-100, #1C1C1C);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.notifications-message,
.activities-message,
.contact-details{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
}

.notifications-message img{
    width: 24px;
    height: 24px;
    padding: 4px;
    border-radius: 8px;
    background-color: var(--primary-blue);
    align-self: start;
}

#purple-icon{
    background-color: var(--primary-purple);
}

.notifications-message p,
.activities-message p,
.contact-details p{
    overflow: hidden;
    color: var(--black-100, #1C1C1C);
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin: 1px;
}
.notifications-message .time,
.activities-message .time{
    color: var(--black-40, rgba(0, 0, 0, 0.40));
    font-size: 12px;
    line-height: 18px; /* 150% */
}

.activities-message img,
.contact-details img{
    width: 24px;
    height: 24px;
}

.activities-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.activities-icon div{
    height: 16px;
    border-left: 2px solid var(--black-10);
}
/* Right sidebar ends here */


/* media query starts here */
@media only screen and (min-width: 920px) and (max-width: 1024px)  {
    .line-graph{
        padding: 25px 10px 22px 10px;
    }
    .line-graph_text p{
        font-size: 13px;
    }
    .line-graph_text{
        gap: 5px;
    }
    .vector-line1{
        width: 58%;
        top: 120px;
        left: 90px;
    }
    .vector-line2{
        width: 58%;
        top: 128px;
        left: 80px;
    }
    .chart-dot{
        top: 150px;
        left: 360px;
    }
    .char-note{
        top: 120px;
        left: 310px;
    }
    .histogram{
        top: 125px;
        left: 55px;
    } 
    .histogram1{
        top: 110px;
        left: 103px;
    }
    .histogram2{
        top: 119px;
        left: 150px;
    }
    .histogram3{
        top: 70px;
        left: 195px;
    }
    .histogram4{
        top: 155px;
        left: 240px;
    }
    .histogram5{
        top: 103px;
        left: 290px;
    }
}